body {
    margin: 0px;
}

.texto {
    width: 500px;
    height: 200px;
    background-color: #EEEEEE;
    color: #FF0000;
    font-size: 15px;
    font-family: Helvetica, Verdana;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}